.header {
  width: 100%;
  height: 60px;
  background: $white;
  box-shadow: 0px 2px 2px rgba(74, 56, 174, 0.1);
  display: flex;
  align-items: center;
  z-index: 100;
  padding: 0 40px 0 40px;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 230px;
    align-items: center;
    flex-basis: 30%;
    margin: 0 auto;

    > a {
      padding-right: 20px;
    }
  }

  &__logo {
    flex-basis: 13%;
  }

  .amb-curse {
    flex-basis: 21%;
  }
.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 35%;
  .wallet-connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background: $whiteToGray;
    border-radius: 12px;
    margin-right: 80px;
    p {
      padding-left: 10px;
    }
  }
  .header__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

}

@media (max-width: 480px) {
  .header {
    padding: 0 40px 0 40px;
    flex-direction: column;
    flex-wrap: nowrap;

    &__logo {
      margin-top: 10px;
    }

    .amb-curse {
      margin-top: 10px;
    }

    .wallet-connect {
      margin-top: 10px;
    }

    .header__btn {
      margin-top: 10px;
    }
  }
}