.content{
  min-height: 89vh;
  background-color: #F7F7FD;
  .page {
  }
}
.wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  height: auto;
  @media (max-width: 480px) {
    width: 95%;
    flex-direction: column;
  }
}