
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  white-space: pre-wrap;
  height: 65px !important;
  font-family: Neue Machina, 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
  border: currentColor 1px solid;
  border-radius: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  cursor: pointer;

  p {
    font-family: Neue Machina, sans-serif;
  }

  @media (max-width: 600px) {
    min-height: auto;
    font-size: 12px !important;
  }

  &.black {
    color: white;
    min-width: 187px;
    background: $black;
  }

  &.white {
    min-width: 187px;
    color: $black;
    background: white;
  }

  &.gradient {
    color: white;
    background: linear-gradient(97.53deg, #360f8c -22.91%, #15d378 138.45%);
    border: 1px solid $black;
  }

  &.secondary {
    background-color: $color-blue;
  }

  &.primary {
    background-color: $color-primary;

    p {
      @media (max-width: 600px) {
        font-size: 12px !important;
      }
    }
  }

  &.green {
    background-color: $green;
    color: #FFFFFF;
  }

  &.outline {
    border: 1px solid $color-blue;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: $white !important;
    color: $color-gray;
  }
}

button[disabled=disabled], button:disabled {
  background: $color-blue !important;
  opacity: 0.8;
  pointer-events: none;
  cursor: not-allowed;

  p {
    color: #D0DBF3 !important;
  }
}

.primary {
  &:hover {
    background-color: $color-primary-light;
  }
}

.green {
  &:hover {
    background-color: $green-light;
  }
}

.secondary {
  &:hover {
    background-color: $color-gray-light;
  }
}

