.button-group {
  width: 100%;
div{
  button{
    height: 48px!important;
  }
}
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  &.compact {
    flex-direction: column;
    justify-content: flex-start;
  }
}