.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;

  &__heading {
    font-family: Halvar Breitschrift, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-bottom: 55px;
  }

  position: relative !important;
  z-index: 1 !important;

  &__charts {
    position: relative;
    z-index: 1;
    height: 300px;

    .recharts-curve .recharts-area-area {
      fill: linear-gradient(176.03deg, rgba(21, 211, 120, 0.4) -86.25%, rgba(21, 211, 120, 0) 97.03%) !important;
    }

    .recharts-text {
      fill: #FFFFFF;
    }

    .recharts-text .recharts-cartesian-axis-tick-value {
      font-family: Halvar Breitschrift, sans-serif !important;
      font-style: normal !important;
      font-weight: 300 !important;
      font-size: 12px !important;
      line-height: 14px !important;
      display: flex !important;
      align-items: center !important;
      color: #FFFFFF !important;
      fill: #FFFFFF !important;
    }


  }
}
