.collapse-css-transition {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

  > * {
    transition-duration: 300ms;
  }
}

.collapsed-list {
  margin: 0px auto;
  max-width: 1040px;
  padding-bottom: 100px;

  &__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9198BB;
    justify-content: center;
    width: 100%;
  }
}

.block {
  margin-bottom: 10px;
}

.btn {
  font-size: 100%;
  background: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;

  color: #9198BB;
}

.active-toggle-text {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #4A38AE;
}

header {

  margin-bottom: 40px;

  button {
    font-size: 100%;
    background: none;
    padding: 10px;

    + button {
      margin-left: 10px;
    }
  }

}

.collapsed-content {
  padding: 10px 10px 30px;

  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
}

button {
  transition: color 280ms;
}

button[disabled] {
  color: #aaa;
}

.icon-down {
  fill: #4A38AE;

  &.is-open {
  }
}

.bottom-line {
  width: 100%;
  height: 1px;
  background: #BFC9E0;
  opacity: 0.5;
  border-radius: 2px;
}