.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(247, 247, 253, 0.9)
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  background: $white;
  box-shadow: 0 4px 24px rgba(55, 29, 199, 0.1);
  border-radius: 12px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(49%, -50%);
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  height: auto;
  padding: 20px;

  &--modal-body {
    &__header {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #9198BB;
      height: 25px;

      > div {
        min-width: 125px;
        flex-direction: row;
      }
    }
  }
}


.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}