// "xs-400" | "xs-500" | "s-400" | "s-500" | "m-500" | "l-400"
// | "l-500" | "l-700" | "xl-400" | "xxl-500" | "xxxl-500"
p {
  margin: 0;
  font-family: Rubik;
}

.xs-400 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.xs-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: $color-gray;
}

.s-400 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-feature-settings: 'liga' off;
  color: $black;
}

.s-400-gray {
  font-feature-settings: 'liga' off;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  font-feature-settings: 'liga' off;
  color: $color-gray;

}

.s-500-gray {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-gray;
}

.m-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: $white;
}

.m-400 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: $color-gray;
}
.l-400 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: $black;
}

.l-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: $black;
}

.l-500-white {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: $white;
}

.l-700 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  font-feature-settings: 'liga' off;

  color: $green;
}

.xl-400 {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: $white;
}

.xxl-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: $black;
}

.xxxl-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 64px;
  font-feature-settings: 'liga' off;
  color: $white;
}