{
  "extends": "@inc4/react",
  "rules": {
    " import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/order": "off"
  },
  "overrides": [
    {
      "files": "**/*{babel,test,stories}.{js,jsx}",
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
