.home {
  margin: 0 auto;
  background-color: #F7F7FD;

  &__top {
    width: 100%;
    height: 360px;
    padding: 10px;
    background: linear-gradient(160.67deg, #4A38AE 12.99%, #6850E8 107.47%);
    background-repeat: no-repeat;
    position: relative;

    &--header {
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 40px 30px 0 30px;

      .menu {
        display: flex;
        z-index: 3;
        flex-direction: row;
        justify-content: space-between;
        max-width: 230px;
        align-items: center;

        .active {
          color: #FFFFFF;
        }

        > a {
          padding-right: 20px;

        }
      }

      .connect-btn {
        height: 48px;
        z-index: 3;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 15px;
        width: 240px;
        display: flex;
        align-items: center;
      }
    }

    &--info {
      background-image: url("./../../assets/images/header-image.svg");
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      flex-direction: row;
      max-width: 976px;
      margin: 0 auto;
      position: absolute;
      right: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, 0%);
      top: 26px;

      .info-image {
        width: 332px;
        height: 332px;
        padding-right: 50px;
      }

      .info-text {
        text-align: left;
        height: 90%;
        width: auto;
        display: flex;
        flex-direction: column;
      }
    }

    &--info-mobile {
      display: none;
    }

  }
}

@media (max-width: 600px) {
  .home {
    &__top {
      height: 100%;
      padding: 25px;
      &--header {
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 20px 0px;
.logo{
svg{
  width: 100px;
  height: 29px;
}
}
        .menu {
          display: none;
        }

        .connect-btn {
          display: none !important;
        }
      }


      &--info {
        display: none;
      }

      &--info-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .info-image {
          svg{
            width: 120px;
            height: 120px;
          }

          padding-bottom: 20px;
        }

        .info-text {
          text-align: center;
          height: 90%;
          width: auto;
          display: flex;
          flex-direction: column;

          p:first-of-type {
            font-style: normal !important;
            font-weight: 500 !important;
            font-size: 36px !important;
            line-height: 43px !important;
            display: flex !important;
            align-items: center !important;
            text-align: center !important;
            font-feature-settings: 'liga' off !important;
            color: #FFFFFF !important;
          }

          p {
            font-style: normal!important;
            font-weight: normal!important;
            font-size: 18px!important;
            line-height: 21px!important;
            display: flex!important;
            align-items: center!important;
            text-align: center!important;
            letter-spacing: -0.01em!important;
            font-feature-settings: 'liga' off!important;
          }
        }

        .connect-btn {
          height: 48px;
          z-index: 3;
          cursor: pointer;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 12px;
          padding: 15px;
          width: 240px;
          display: flex;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

    }
  }
}

.download-block__img {
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
  }
}

.download-block {
  width: 70%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 1px #dbdbdb;
  @media (max-width: 480px) {
    padding: 10px;
  }

  .blue-button-solid.large-button {
    display: inline-block;
    margin-top: 0;
    padding: 12px 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 40px;
    font-size: 16px;
  }

  .blue-button-solid {
    display: block;
    margin-right: 10px;
    border-radius: 40px;
    background-color: #037dd6;
    font-size: 14px;
    font-weight: 400;
  }

  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
}
