.home {
  margin: 0 auto;
  background: #212121;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .section-heading {
    padding-bottom: 10px;
    font-family: Halvar Breitschrift, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    @media (max-width: 600px) {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .back-figure1 {
    position: absolute;
    width: 700px;
    height: 900.48px;
    left: 0;
    top: -76px;
    mix-blend-mode: lighten;
    background: url('../../assets/images/back1.png') no-repeat;
    z-index: 0;

  }

  .back-figure2 {
    position: absolute;
    width: 599px;
    height: 726px;
    right: 0;
    top: -52px;
    background-blend-mode: normal, hue, normal, normal;
    mix-blend-mode: lighten;
    background: url('../../assets/images/back2.png') no-repeat !important;
    z-index: 0;

  }

  &__top {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #212121 39.84%, rgba(33, 33, 33, 0) 100%) no-repeat;
    position: relative;

    &--header {
      height: 99px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 40px 80px 0 80px;

      .menu {
        font-family: Proxima Nova,sans-serif;
        font-weight: normal;
        display: flex;
        text-transform: uppercase;
        z-index: 3;
        flex-direction: row;
        justify-content: space-between;
        width: 398px;
        align-items: center;
        color: white;

        .active {
          color: #FFFFFF;
        }

        > a {
          padding-right: 20px;
          font-weight: normal;
        }
      }

    }

    &--info {
      min-height: 675px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;

      .info-text {
        text-align: center;
        height: 90%;
        width: auto;
        display: flex;
        flex-direction: column;

        p:first-of-type {
          font-family: Halvar Breitschrift, sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 60px;
          line-height: 69px;
          letter-spacing: -0.02em;
        }

        p {
          margin-top: 30px;
        }
      }

      .connect-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 36px;
        margin-top: 100px;
        width: 216px;
        height: 65px;
        background: #212121;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;

        flex: none;
        order: 1;
        flex-grow: 0;

        p {
          font-size: 16px !important;
        }

        &:hover {
          background-color: #76778E !important;
        }
      }
    }

  }

  &__second-section {
    max-width: 1240px;
    margin: 0 auto;
    padding: 15px;
    z-index: 1;
    position: relative;

    &--secondary {
      padding-bottom: 70px;
      font-family: Proxima Nova, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
      color: #FFFFFF;
    }

    &--btn {
      color: #1ACD8C;
    }
  }

  &__third-section {
    position: relative;
    max-width: 1240px;
    margin: 200px auto;
    @media (max-width: 600px) {
      margin: 60px auto;
    }
    padding: 15px;

    .section-heading {
      text-align: center;
      margin-bottom: 150px;
      @media (max-width: 600px) {
        margin-bottom: 80px;
      }
    }

    .container {
      position: relative;
      .items-container {
        align-items: center;
        justify-content: space-around;

        .items-container__item {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .back-figure3 {
      position: absolute;
      width: 700px;
      height: 900.48px;
      right: -506px;
      top: -488px;
      background: url('../../assets/images/romb.png') no-repeat;
      z-index: 0;
      @media (max-width: 600px) {
        right: -386px;
        top: -558px;
        transform: scale(0.8)
      }
    }

    .back-figure4 {
      position: absolute;
      width: 599px;
      height: 726px;
      top: 253px;
      left: -216px;
      background: url('../../assets/images/dolbka.png') no-repeat !important;
      z-index: 0;
      @media (max-width: 600px) {
        top: 153px;
        left: -120px;
        transform: scale(0.7);
      }
    }

  }
}

@media (max-width: 600px) {
  .home {
    overflow: hidden;
    .back-figure1 {
      top: -172px;
      left: -248px;
    }

    .back-figure2 {
      top: 128px;
      right: -290px;
      transform: rotate(
                      11deg) scale(0.8);

    }

    &__top {
      height: 100%;

      &--header {
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 18px 6px 0 18px;

        .logo {
          svg {
            width: 100px;
            height: 29px;
          }
        }

        .menu {
          display: none;
        }

        .connect-btn {
          display: none !important;
        }
      }

      &--info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .info-text {
          text-align: left;
          height: 90%;
          width: 306px;
          display: flex;
          flex-direction: column;

          p:first-of-type {
            text-align: left;
            margin-top: 68px;
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 300;
            font-size: 49.697px;
            line-height: 58px;
            letter-spacing: -0.02em;
            color: #FFFFFF;

          }

          p {
            text-align: left;
            margin-top: 0;
            font-family: Proxima Nova, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
          }
        }

        .connect-btn {
          margin-top: 70px;

          p {
            font-size: 16px !important;
          }
        }
      }

    }
  }
}

.download-block__img {
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
  }
}

.download-metamask{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .download-block {
    width: 70%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px #dbdbdb;
    @media (max-width: 480px) {
      padding: 10px;
    }

    .blue-button-solid.large-button {
      display: inline-block;
      margin-top: 0;
      padding: 12px 20px;
      -webkit-align-self: center;
      -ms-grid-row-align: center;
      align-self: center;
      border-radius: 40px;
      font-size: 16px;
    }

    .blue-button-solid {
      display: block;
      margin-right: 10px;
      border-radius: 40px;
      background-color: #037dd6;
      font-size: 14px;
      font-weight: 400;
    }

    .w-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898EC;
      color: white;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
    }
  }
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  .items-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    .items-container__item {
      margin: 20px 0;
      max-width: 240px;
      background-position: center;
      flex: 0 0 1;
      font-family: Proxima Nova, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
      flex: none;
      order: 1;
      flex-grow: 0;
      color: #FFFFFF;
      @media (max-width: 480px) {
        flex: 0 0 50%;
        font-size: 18px;
      }
    }
  }


}
