.home {
  margin: 0 auto;

  &__top {
    width: 100%;
    height: 360px;
    padding: 10px;
    background: linear-gradient(160.67deg, #4A38AE 12.99%, #6850E8 107.47%);
    background-repeat: no-repeat;

    &--header {
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 40px 30px 0 30px;

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 230px;
        align-items: center;

        > a {
          padding-right: 20px;
        }
      }

      .connect-btn {
        height: 48px;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 15px;
        width: 240px;
        display: flex;
        align-items: center;
      }
    }

    &--info {
      background-image: url("./../../assets/images/header-image.svg");
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      flex-direction: row;
      max-width: 976px;
      margin: 0 auto;
      position: absolute;
      right: 15%;
      top: 26px;
      .info-image {
        width: 332px;
        height: 332px;
        padding-right: 50px;
      }

      .info-text {
        text-align: left;
        height: 90%;
        width: auto;
        display: flex;
        flex-direction: column;
      }
    }

  }


}

@media (max-width: 480px) {
  .home {
    &__top {
      &--header {
        flex-direction: column;
        padding: 30px 30px 0 30px;

        .connect-btn {
          margin-top: 35px;
        }
      }

      &--info {
        .info-text {
          p:first-of-type {
            font-size: 24px;
          }

          p {
            font-size: 19px;
          }
        }
      }
    }

  }
}