.stacking {
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  height: auto;
  @media (max-width: 480px) {
    width: 95%;
    flex-direction: column;
  }

  &__header {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 18px;;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #9198BB;

    > div {
      flex: 1;
    }
  }

  .stack-item {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-gap: 0;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(55, 29, 199, 0.1);
    border-radius: 12px;

    .item--header {
      display: flex;
      height: 60px;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 20px;

      &__pool {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 18px;

        p {
          margin-left: 20px;
        }
      }
      &__my-stake {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          margin-left: 18px;
        }
      }
      &__vault-assets{
        margin-left: 16px;
      }
&__apy{
  margin-right: -7px;
}
      button {
        max-width: 160px;
      }

      > div, button {
        flex: 1 !important;
      }
    }

    .item--content {
      padding: 0 20px;
    }

    .collapsed-content {
      background: $white;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      &__header {
        @media (max-width: 480px) {
          width: 100%;
          flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap; /* Запрещаем перенос текста */
        > p {
          flex-basis: 45%;
        }

        button {
          flex-basis: 35%;
        }
      }

      &__body {
      }
    }
  }

}
.deposit {
  display: flex;
  flex-direction: column;

  .deposit-heading {
    width: 100%;
    padding: 10px;
  }

  .deposit-actions {
    display: flex;
    flex-direction: row !important;

    > div {
      width: 64px;
      margin-left: 20px;
    }

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 48px !important;
    }

  }

  .deposit-stake-btn {
  }

  .deposit-stake-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.line {
  width: 100%;
  margin-bottom: 20px;
  height: 1px;
  background: #BFC9E0;
  opacity: 0.5;
  border-radius: 2px;
}
.space {
  width: 100%;
  height: 15px;
}

.info-block {
  height: 180px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  width: 100%;

  &__address {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  &__stacked {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    &--total {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      padding: 17px 20px;

      border: 1px solid $color-gray-light;
      box-sizing: border-box;
      border-radius: 12px;
    }

    &--course {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      min-width: 224px;
      padding: 17px 20px;
      margin-left: 40px;

      border: 1px solid $color-gray-light;
      box-sizing: border-box;
      border-radius: 12px;
    }
  }
}
