.staking {
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  height: auto;
  @media (max-width: 480px) {
    width: 95%;
    flex-direction: column;
  }

  &__loader {
    padding-top: 100px;
  }


  &__header {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 18px;;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9198BB;
    white-space: nowrap;
    @media (max-width: 600px) {
      > div {
        font-size: 10px!important;
        max-width: 38px !important;
        min-width: 35px !important;
      }
    }

    &__clearfix-pool {
      white-space: nowrap;
    }

    &__clearfix-apy {
      white-space: nowrap;
      @media (max-width: 600px) {
        padding-left: 20px;
      }
    }

    > div {
      font-family: Halvar Breitschrift, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      white-space: nowrap;
      display: flex;
      align-items: flex-end;
      min-width: 200px;
      max-width: 200px;
    }
  }

  &__pools {
    font-family: Halvar Breitschrift, sans-serif;
    min-height: 100px;
    width: 100%;
  }

  .stack-item {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-gap: 0;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(55, 29, 199, 0.1);
    border-radius: 12px;

    .item--header {
      display: flex;
      height: 60px;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 20px;
      @media (max-width: 600px) {
        padding: 10px 10px;
        max-width: 100%;
        > div {
          max-width: 250px !important;
          min-width: 250px !important;
        }
      }

      &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 80%;
        @media (max-width: 600px) {
          padding-right: 0 !important;
        }

        &__pool {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 18px;

          @media (max-width: 600px) {
            > * {
              margin: 0 !important;
            }
          }

          p {
            margin-left: 20px;
            @media (max-width: 600px) {
              font-size: 12px !important;
              margin: 0 !important;
              margin-left: 10px !important;
            }
          }
        }

        &__my-stake {
          @media (max-width: 600px) {
            > * {
              margin: 0 !important;
            }
          }

          p {
            @media (max-width: 600px) {
              font-size: 12px !important;
              margin: 0 !important;

            }
          }
        }

        &__vault-assets {
          @media (max-width: 600px) {
            div{
              span{
                p{
                  font-size: 10px!important;
                }
              }
            }
            > * {
              margin: 0 !important;

            }
          }

          p {
            @media (max-width: 600px) {
              font-size: 12px !important;
              margin: 0 !important;

            }
          }
        }

        &__apy {
          .mobile-display-wrap{
            white-space: nowrap;
            min-width: 150px!important;
            max-width: 150px!important;
            @media (max-width: 600px) {
              white-space: pre-wrap;
              min-width: 80px!important;
              max-width: 80px!important;
            }
          }
          @media (max-width: 600px) {
            p {
              font-size: 10px !important;
            }
            div {
              margin: 0 !important;
            }
          }
        }

        > div {
          min-width: 200px;
          max-width: 200px;
          @media (max-width: 600px) {
            min-width: 110px;
            max-width: 110px;
          }
        }
      }

      &--coming-soon-btn {
        min-width: 160px !important;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        button {
          min-width: 160px;
        }
      }

      button {
        max-width: 160px;
        height: 40px !important;
        @media (max-width: 600px) {
          max-width: 60px;
        }
      }

      > div, button {
        flex: 1 !important;
      }

      button {
        @media (max-width: 480px) {
          margin-left: 0;
        }
      }
    }

    .item--content {
      padding: 0 10px;
    }

    .collapsed-content {
      background: $white;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 16px !important;
        color: #9C9C9C;
      }

      &__header {
        @media (max-width: 480px) {
          width: 100%;
          flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        > p {
          flex-basis: 45%;
        }

        button {
          flex-basis: 35%;
        }
      }

      &__body {
      }
    }
  }

}

.deposit {
  display: flex;
  flex-direction: column;

  .deposit-heading {
    width: 100%;
    padding: 15px 10px ;
    display: flex;
    flex-direction: row;
  }

  .deposit-actions {
    display: flex;
    flex-direction: row !important;
    @media (max-width: 480px) {
      flex-direction: column !important;
    }

    &__buttons {
      flex-direction: row;
      display: flex;

      > div {
        button {
          padding: 20px;
          p {
            font-family: Halvar Breitschrift, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-size: 12px !important;
            display: flex !important;
            align-items: center !important;
            text-align: center !important;
          }
        }
      }

      > div {
        width: 64px !important;
        margin-left: 20px !important;
        height: auto !important;
        color: #9198BB !important;

        button {
          height: 48px !important;
        }
      }

      button {
        p {
          color: #9198BB !important;
        }
      }

      > div {
        margin-top: 0;
        color: #9198BB !important;

      }

      @media (max-width: 480px) {
        flex-direction: row !important;
        justify-content: space-between;
        > div:not(:first-child) {
          margin-left: 5px !important;
        }
        > div {
          margin-left: 0 !important;
          margin-top: 15px;
        }
      }
    }


    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 48px !important;
    }

  }

  .deposit-stake-btn {
    button {
      height: 48px !important;
    }
  }

  .deposit-stake-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 480px) {
      align-items: flex-start;
      flex-direction: column;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.line {
  width: 100%;
  margin-bottom: 20px;
  height: 1px;
  background: #BFC9E0;
  opacity: 0.5;
  border-radius: 2px;
}

.space {
  width: 100%;
  height: 15px;
}

.info-block {
  height: 180px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  width: 100%;
  @media (max-width: 480px) {
    height: auto;
  }

  &__address {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 480px) {
      align-items: center;
    }
  }

  &__stacked {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    &--total {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: max-content;
      height: 90px;
      padding: 17px 20px;
      justify-content: space-around;
      border: 1px solid $color-gray-light;
      box-sizing: border-box;
      border-radius: 12px;
    }

    &--course {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: max-content;
      justify-content: space-around;

      height: 90px;
      padding: 17px 20px;
      margin-left: 40px;

      border: 1px solid $color-gray-light;
      box-sizing: border-box;
      border-radius: 12px;
    }

    @media (max-width: 480px) {
      height: auto;
      flex-direction: column;
      justify-content: center;
      &--total {
        margin-top: 20px;
      }

      &--course {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.close-btn {
  min-width: 319px;
  width: 319px;
  @media (max-width: 480px) {
    min-width: 100px;
    width: auto;
  }
}

.percent-btn {
  font-family: Halvar Breitschrift, sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #9198BB !important;

}
