/* Neue Machina */

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Black.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Black.ttf')
      format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Light.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Medium.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Medium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Bold.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Ultrabold.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Ultrabold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../../assets/fonts/NeueMachina/NeueMachina-Ultralight.woff2')
      format('woff2'),
    url('../../assets/fonts/NeueMachina/NeueMachina-Ultralight.ttf')
      format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Rg */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.ttf')
      format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Black.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Black.ttf')
      format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.ttf')
      format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Bold.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Light.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Halvar Breitschrift */

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Hl.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Hl.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Hl_1.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Hl_1.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Lt.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Lt.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Md.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Md.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Rg.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Rg.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Th.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Th.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-XBd.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-XBd.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-XTh.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-XTh.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Blk.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Blk.ttf')
      format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Bd.woff2')
      format('woff2'),
    url('../../assets/fonts/HalvarBreitschrift/HalvarBreit-Bd.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.woff2')
    format('woff2-variations');

  font-weight: 1 999;
}
