@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/rubik-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/rubik-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/rubik-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/rubik-v14-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/rubik-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/rubik-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/rubik-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/rubik-v14-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/rubik-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/rubik-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/rubik-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/rubik-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/rubik-v14-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}