$white: #FFF;
$whiteToGray: #F7F7FD;
$black: #212121;
$green-light: #2EDB9C;
$color-primary: #4A38AE;
$color-primary-light: #5C49C6;
$color-gray: #9198BB;
$color-blue: #BFC9E0;
$color-gray-light: #CDD7ED;
$red: #A32626;
$graphitered: #262626;
$green: #15D378;
$lighter-black: #262626;
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1280px;

* {
  --content-width: 1280px;
}

@media screen and (max-width: $tablet-breakpoint) {
  * {
    --content-width: 100%;
  }
}
