$white: #FFF;
$whiteToGray: #F7F7FD;
$black: #212121;
$green: #1ACD8C;
$green-light: #2EDB9C;
$color-primary: #4A38AE;
$color-primary-light: #5C49C6;
$color-gray: #9198BB;
$color-blue: #BFC9E0;
$color-gray-light: #CDD7ED;
$red: #FF6767;
$graphitered: #262626;
